/* SCSS RGB */
$tan-crayola: rgba(229, 159, 113, 1);
$sinopia: rgba(186, 90, 49, 1);
$rich-black-fogra-39: rgba(12, 12, 12, 1);
$medium-aquamarine: rgba(105, 220, 158, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e59f71ff, #ba5a31ff, #0c0c0cff, #69dc9eff, #ffffffff);
$gradient-right: linear-gradient(90deg, #e59f71ff, #ba5a31ff, #0c0c0cff, #69dc9eff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #e59f71ff, #ba5a31ff, #0c0c0cff, #69dc9eff, #ffffffff);
$gradient-left: linear-gradient(270deg, #e59f71ff, #ba5a31ff, #0c0c0cff, #69dc9eff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #e59f71ff, #ba5a31ff, #0c0c0cff, #69dc9eff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #e59f71ff, #ba5a31ff, #0c0c0cff, #69dc9eff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #e59f71ff, #ba5a31ff, #0c0c0cff, #69dc9eff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #e59f71ff, #ba5a31ff, #0c0c0cff, #69dc9eff, #ffffffff);
$gradient-radial: radial-gradient(#e59f71ff, #ba5a31ff, #0c0c0cff, #69dc9eff, #ffffffff);


/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-600.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/source-sans-pro-v13-latin/source-sans-pro-v13-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

$family-sans-serif: 'Source Sans Pro', BlinkMacSystemFont, -apple-system, "Segoe UI",
"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$comet: #5f637b;
$abbey:#4b4b4d;
$fruit-salad:#52985d;
$brady-punch:#cf8825;
$pomegranate:#f44336;


$primary: $comet;
$info: $abbey;
$success: $fruit-salad;
$warning: $brady-punch;
$danger: $pomegranate;


@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/helpers/_all.sass";
@import "~bulma/sass/layout/_all.sass";



